<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
  </div>
  <ion-button expand="block" (click)="openPicker($event)">CCY</ion-button>

  <ion-grid class="ios">
    <ion-row id="header">
      <ion-col>CCY</ion-col>
      <ion-col>Qty</ion-col>
      <ion-col>Bid</ion-col>
      <ion-col>Ask</ion-col>
    </ion-row>
    <ion-row *ngFor="let p of rows; let i = index">
      <ion-col>{{p.Symbol}}</ion-col>
      <ion-col>{{p.Qty}}</ion-col>
      <ion-col>{{p.Bid}}</ion-col>
      <ion-col>{{p.Ask}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
